.git
.gitignore
.gitattributes

.env
.env.*
!.env.example
SSL/*
!SSL/.gitkeep
keys/*
!keys/.gitkeep
private_key.pem
public_key.pem
jwt_secrets.txt

bin/*
!bin/.gitkeep
.gocache/

assets_storage/*
!assets_storage/.gitkeep
uploads/*
!uploads/.gitkeep

SQL/
*.md
!README.md
Dext.png

.vscode/
.idea/

.DS_Store
Thumbs.db

docker/
Dockerfile
.dockerignore
docker-entrypoint.sh
docker-compose*.yml
